<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
<meta charset="UTF-8" />
<title>Learning spring boot 2</title>
<link rel="stylesheet" href="/main.css" />
</head>
<body>
	<h1>Learning spring boot 2</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="image: ${images}">
					<td th:text="${image.id}" />
					<td th:text="${image.name}" />
					<td><a th:href="@{'/images/' + ${image.name} + '/raw'}"> 
					<img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail" />
					</a></td>
				</tr>
			</tbody>
		</table>
		
		<form method = "post" enctype="multipart/form-data" action="/images">
		<p><input type="file" name="file" /></p>
		<p><input type="submit" name="Upload" /></p>
		</form>
	</div>
</body>
</head>
</html>